/**
 * Custom styles for reveal.js
 * @package reveal.js
 * @subpackage grunwell-theme
 * @author Steve Grunwell <steve@stevegrunwell.com>
 *
 * @todo Change pink text selection
 * @todo Let inline links be inline and get rid of the 3D animation
 */
/*! Warning: this is a generated stylesheet. To make changes, see grunwell-theme.scss */

/** Initialize Compass */
@import 'compass';

h2 {
  .normal-text { text-transform: none; }
}

.reveal {
  h4, h5, h6 { font-size: 1.55em; }
}

.slides {
  ul, ol, p { display: block; margin-bottom: 1em; text-align: left;
    ul, ol, p { margin-bottom: 0; }
    strong { color: #13daec; }
  }
}

section.title {
  &, ul, ol, p { text-align: center; }
  .slide-link { position: relative; bottom: -2em; font-size: .8em;
    a { display: block; }
  }
}

.figure { display: inline-block;
  img { max-width: 100%; }
  .caption { display: block; font-size: .5em; text-align: right; }
}

/* Utility classes */
.screen-reader-text { position: absolute; left: -99999%; }